---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section
        class="bg-linear-to-r from-pink-400 via-fuchsia-500 to-purple-500 text-black p-6 rounded-t-xl"
    >
        <h1 class="text-2xl font-bold">Datos Personales</h1>
    </section>

    <div class="bg-white p-6 space-y-6 rounded-b-xl shadow max-w-2xl mx-auto">
        <div>
            <h2 class="text-lg font-semibold text-fuchsia-600 mb-3">
                Datos personales
            </h2>

            <p>
                <span class="text-fuchsia-500 font-semibold">Nombre:</span>
                <span class="text-gray-800"> Hogrefe, Rocio Belen</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Edad:</span>
                <span class="text-gray-800"> 22 años</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Dirección:</span>
                <span class="text-gray-800"> AV. Simón Bolívar 368</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Localidad:</span>
                <span class="text-gray-800"> Hersilia, Santa Fe</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Teléfono:</span>
                <span class="text-gray-800"> 3491-504169</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Email:</span>
                <span class="text-gray-800"> rociohogrefe368@gmail.com</span>
            </p>
        </div>

        <div>
            <h2 class="text-lg font-semibold text-fuchsia-600 mb-2">
                Formación académica
            </h2>

            <p>
                <span class="text-fuchsia-500 font-semibold">Primaria:</span>
                <span class="text-gray-800">
                    Completa (Colegio Santa Teresita del Niño Jesús)</span
                >
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Secundaria:</span>
                <span class="text-gray-800"> Completa (E.E.S.O 255)</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Estudios:</span>
                <span class="text-gray-800">
                    Tecnicatura en Programación (en curso) - Extension UTN
                    actualidad-2026</span
                >
            </p>
        </div>

        <div>
            <h2 class="text-lg font-semibold text-fuchsia-600 mb-2">Idiomas</h2>

            <p>
                <span class="text-fuchsia-500 font-semibold">Español:</span>
                <span class="text-gray-800"> Nativo</span>
            </p>

            <p>
                <span class="text-fuchsia-500 font-semibold">Ingles:</span>
                <span class="text-gray-800"> Basico / Intermedio</span>
            </p>
        </div>
    </div>
</Layout>
